.app-header {
    padding: 1rem 2rem;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.right-button {
    background-color: #ff9900;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-button:hover {
    background-color: #f77f00;
}
